/*------------------1-ITEM-------------------*/

.opening__container.anima1 .obj {
   animation-duration: 0.7s;
   animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
   animation-fill-mode: forwards;
   animation-delay: 1.1s;
}
.opening__container.anima1 .obj1 {
   animation-name: drop_anima_3-2;
}

/*------------------2-ITEMS-------------------*/

.opening__container.anima2 .obj {
   animation-duration: 0.7s;
   animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
   animation-fill-mode: forwards;
   animation-delay: 1.1s;
}
.opening__container.anima2 .obj1 {
   animation-name: drop_anima_2-1;
}
.opening__container.anima2 .obj2 {
   animation-name: drop_anima_2-2;
   animation-delay: 1.5s;
}
@media (max-width: 550px) {
   .opening__container.anima2 .obj1 {
      animation-name: media550-drop_anima_2-1;
   }
   .opening__container.anima2 .obj2 {
      animation-name: media550-drop_anima_2-2;
      animation-delay: 1.5s;
   }
}

@keyframes drop_anima_2-1 {
   100% {
      bottom: 75%;
      transform: translate(-50%, 50%);
      left: calc(50% - 100px);
      opacity: 1;
   }
}
@keyframes drop_anima_2-2 {
   100% {
      bottom: 75%;
      transform: translate(-50%, 50%);
      left: calc(50% + 100px);
      opacity: 1;
   }
}
@keyframes media630-drop_anima_2-1 {
   100% {
      bottom: 55%;
      transform: translate(-50%, 50%);
      left: calc(50% - 80px);
      opacity: 1;
   }
}
@keyframes media630-drop_anima_2-2 {
   100% {
      bottom: 55%;
      transform: translate(-50%, 50%);
      left: calc(50% + 80px);
      opacity: 1;
   }
}
@keyframes media550-drop_anima_2-1 {
   100% {
      bottom: 75%;
      transform: translate(-50%, 50%);
      left: calc(50% - 70px);
      opacity: 1;
   }
}
@keyframes media550-drop_anima_2-2 {
   100% {
      bottom: 75%;
      transform: translate(-50%, 50%);
      left: calc(50% + 70px);
      opacity: 1;
   }
}

/*------------------3-ITEMS-------------------*/

.opening__container.anima3 .obj {
   animation-duration: 0.7s;
   animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
   animation-fill-mode: forwards;
   animation-delay: 1.1s;
}
.opening__container.anima3 .obj1 {
   animation-name: drop_anima_3-1;
}
.opening__container.anima3 .obj2 {
   animation-name: drop_anima_3-2;
   animation-delay: 1.5s;
}
.opening__container.anima3 .obj3 {
   animation-name: drop_anima_3-3;
   animation-delay: 1.8s;
}
@media (max-width: 630px) {
   .opening__container.anima3 .obj1 {
      animation-name: media330-drop_anima_3-1;
   }
   .opening__container.anima3 .obj2 {
      animation-name: media630-drop_anima_2-1;
      animation-delay: 1.5s;
   }
   .opening__container.anima3 .obj3 {
      animation-name: media630-drop_anima_2-2;
      animation-delay: 1.8s;
   }
}

@keyframes drop_anima_3-1 {
   100% {
      bottom: 75%;
      transform: translate(-50%, 50%);
      left: calc(50% - 200px);
      opacity: 1;
   }
}
@keyframes drop_anima_3-2 {
   100% {
      bottom: 75%;
      transform: translate(-50%, 50%);
      left: 50%;
      opacity: 1;
   }
}
@keyframes drop_anima_3-3 {
   100% {
      bottom: 75%;
      transform: translate(-50%, 50%);
      left: calc(50% + 200px);
      opacity: 1;
   }
}
@keyframes media330-drop_anima_3-1 {
   100% {
      bottom: 80%;
      transform: translate(-50%, 50%);
      left: 50%;
      opacity: 1;
   }
}
